name: High Frequency Trade Execution

on:
  schedule:
    - cron: '*/10 * * * 1-5'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          # CHANGE THIS FROM '3.9' TO '3.10'
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          pip install pandas sqlalchemy yfinance psycopg2-binary toml pytz
          
      - name: Run Execution Script
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: python daily_job.py
