name: Weekly Portfolio Report

on:
  schedule:
    # Runs at 01:00 UTC every Saturday
    - cron: '0 1 * * 6'
  workflow_dispatch:

jobs:
  send-report:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
          
      - name: Install dependencies
        run: |
          pip install pandas sqlalchemy yfinance psycopg2-binary toml numpy
          
      - name: Run Report Script
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
        run: python weekly_email.py
